RewriteEngine on
RewriteBase /mvcphp
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^([0-9A-Za-z].+)$ index.php?url=$1 [NC,QSA,L]